* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #6948ff;
  --secondary: #553bcb;
  --darkgrey: #22262a;
  --lightgrey: #d3d3d3;
  --white: #f8f8f8;
  --grey: #808080;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body{
  color: #333;
  line-height: 1.5;
}

.primary-color {
  color: var(--primary);
}